* {
    text-align: center;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}
body {
    background:linear-gradient(rgb(8, 3, 4),hsl(197, 68%, 25%),rgb(8, 3, 4));
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
h1 {
    color:#4D7D19;
    font-size: 5em;
    padding: 1em 1em 1em;
    text-decoration: line-through;
}
li {
    list-style:none;
}
a {
    color:#4D7D19;
    font-size: 2em;
    font-weight: 700;
}
a:hover {
    color:hsl(177, 100%, 50%);
    transition-duration: 1s;
    font-size:4em;
    border-style: dashed;
    border-color:white;
}
.lasagna, .donuts, .toast {
    display:block;
}
    