* {
    text-align: center;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}
body {
    background:linear-gradient(rgb(8, 3, 4),skyblue);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
h1 {
    background-color: hsla(240, 58%, 20%, 0.637);
    color:rgb(0, 0, 0);
    font-size: 3em;
    padding: 1em 1em 1em;
    border: 0.25em;
    border-style: solid;
    border-color:hsl(240, 75%, 25%);
    border-radius: 25% 25% 15% 15%;
}
li {
    list-style:none;
}
a {
    color:hsl(0, 0%, 0%);
    font-size: 1.3em;
}
a:hover {
    color:hsl(177, 100%, 50%);
    transition-duration: 1s;
    font-size:2em;
}
.lasagna, .donuts, .toast {
    background-color:hsl(200, 100%, 25%);
    display:inline-block;
    border-radius: .75em;
}
    