* {
    text-align: center;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}
body {
    background:linear-gradient(rgb(8, 3, 4),hsl(197, 67%, 35%));
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
h1 {
    color:#4D7D19;
    font-size: 5em;
    padding: 1em 1em 1em;
    text-decoration: line-through;
}
h2 {
    font-size:2em;
    padding: 1em 1em 1em;
}
h3 {
    font-size: 1.5em;
    text-decoration:overline underline;
    text-decoration-color: hsl(240, 75%, 25%);
}
p {
    font-size:1.5em;
    padding: 0.5rem 1em 1em;
}
ul > li, ol > li {
    list-style-position: inside;
    font-size:1.2em;
    line-height: 2em;
}
a {
    color:#4D7D19;
    font-size: 1.3em;
}
a:hover {
    color:hsl(177, 100%, 50%);
    transition-duration: 1s;
    font-size:2em;
    border-style: dashed;
    border-color:white;
}